<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDO | TASKS</title>
</head>

<body>
    <app-navbar></app-navbar>
    <table class="d-flex justify-content-start">

        <tr>
            <td>
                <div class="todo">
                    <img src="../../../assets/images/ToDoIcon.png" alt='to do icon' />
                    <h3>To Do</h3>
                </div>
            </td>
            <td>
                <div class="todo">
                    <img src="../../../assets/images/DoingIcon.png" alt='DoingIcon' />
                    <h3>Doing</h3>
                </div>
            </td>

            <td>
                <div class="todo">
                    <img src="../../../assets/images/DoneIcon.png" alt='DoneIcon' />
                    <h3>Done</h3>
                </div>
            </td>

        </tr>



    </table>

    <app-task></app-task>

</body>

</html>